header {
 margin-bottom: 20px;
 background-color: rgb(244,79,79);
 text-align: center; 
}
h1 {
  color: rgb(255,255,255);
}

body,h1,p {
  margin: 0;
}
p,a {
  font-size: 20px;
}
main {
  margin: 10px;
}
#parent {
  display: flex;
  justify-content: space-between;
}
.contents {
  border: 3px; solid rgb(238,204,204)
  flex-basis: 25%:;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
   
}